{#
 #   Selfie2Anime Blog
 #   Copyright (c) 2019 by SilentByte <https://www.silentbyte.com/>
 #}

{# Default Layout #}
<div class="container section-container">
    <section class="d-flex section-lg full-height">
        <div class="m-auto">
            <h1 class="heading">{{ page.title }}</h1>
            <div class="subheading text-center mt-5 mb-5">
                {{ page.content|safe }}
            </div>
        </div>
    </section>
</div>
