{#
 #   Selfie2Anime Blog
 #   Copyright (c) 2019 by SilentByte <https://www.silentbyte.com/>
 #}

{# Google Adsense #}
{#{% if env.args.mode == 'prod' %}#}
{#    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>#}
{#{% endif %}#}

{#<script>#}
{#    (adsbygoogle = window.adsbygoogle || []).push({#}
{#        google_ad_client: '',#}
{#        enable_page_level_ads: true,#}
{#    });#}
{#</script>#}
