{#
 #   Selfie2Anime Blog
 #   Copyright (c) 2019 by SilentByte <https://www.silentbyte.com/>
 #}

{# Google Analytics #}
{% if env.args.mode == 'prod' %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-71336829-28"></script>
{% endif %}

<!--suppress JSUnusedLocalSymbols, JSUnusedGlobalSymbols -->
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'UA-71336829-28');

    function trackOutboundUrl(url) {
        gtag('event', 'click', {
            event_category: 'outbound',
            event_label: url,
            transport_type: 'beacon',
            event_callback: function() {
                document.location = url;
            },
        });
    }
</script>
