{#
 #   Selfie2Anime Blog
 #   Copyright (c) 2019 by SilentByte <https://www.silentbyte.com/>
 #}

{# Site Footer #}
<footer>
    <div class="row section-container m-auto text-center text-sm-left">
        <div class="mt-4 col col-12 col-sm-4 col-md-3">
            <h5>{{ config.brand }}</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="{{ url_for('articles') }}/">Article Hub</a></li>
                <li>
                    <a class="text-muted"
                       href="https://selfie2anime.com">
                        Generate a Selfie
                    </a>
                </li>
                <li><a class="text-muted" href="{{ url_for('tags') }}/">Tag List</a></li>
                <li>
                    <a class="text-muted"
                       href="https://twitter.com/{{ config.twitter }}"
                       target="_blank">
                        Follow on Twitter
                    </a>
                </li>
                <li><a class="text-muted" href="{{ url_for('contact') }}/">Contact Us</a></li>
            </ul>
        </div>
        <div class="mt-4 col col-12 col-sm-4 col-md-6">
            <h5>Recent Posts</h5>
            <ul class="list-unstyled text-small">
                {% for post in site.posts.toArray()|sort(true, false, 'date') %}
                    {% if loop.index <= 5 %}
                        <li class="overflow-ellipsis">
                            <a href="{{ url_for(post.path) }}"
                               title="{{ post.title }}"
                               class="text-muted">
                                {{ post.title }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="mt-4 col col-12 col-sm-4 col-md-3">
            <h5>Disclaimer</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="https://selfie2anime.com/terms/">Terms of Use</a></li>
                <li><a class="text-muted" href="https://selfie2anime.com/privacy/">Privacy Statement</a></li>
                <li><a class="text-muted" href="{{ url_for('attribution') }}/">Attribution</a></li>
            </ul>
        </div>
    </div>

    <div class="mt-5 text-center small">
        Provided with
        <svg xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 24 24"
             class="text-primary"
             style="margin-top: -0.25em; height: 1.25em;">
            <path fill="currentColor"
                  d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09
              3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
        </svg>
        since 2019 by
        <a href="https://twitter.com/{{ config.twitter }}"
           target="_blank"
           rel="noopener">
            <strong class="text-primary">Rico A. Beti</strong>
        </a>
        &amp;
        <a href="https://twitter.com/nathangloverAUS"
           target="_blank"
           rel="noopener">
            <strong class="text-primary">Nathan Glover</strong>
        </a>
    </div>
</footer>
